.brand_img,.brand_text{display:inline-block}
.navG{position:fixed; top:0px; left:0px; z-index: 5567;width:100%; padding:10px 20px; background-color:#243779}

.brand_img img{width:70px; height:70px}
.brand_text{width:90px; height:50px; display: flex; align-items:center;}
.brand_text p{font-size: 18px; width:90px;height:50px; display: flex; position: relative; top:18px; left:15px; align-items:center;} 
.navB{width:200px; display: flex;}
.birinchi{margin-left:20%;}
.navG .birinchi{margin-left: 20%;}
.navlik{color:white;margin-right: 15px; font-size:17px; display:flex}
.navlik:hover{color:rgb(255, 247, 0)}
/* .text{position: absolute; top:230px; width:100%;} */
.lrt{display:none !important}
@media (min-width:1500px){
  .lrt{display:none !important;}
 .navlik{margin: auto;}

}

#nav{
 
margin: auto;
margin-right: 24px;

}
@media (max-width:991px){
  .navlik{margin: auto;}
  #nav{
      margin: auto;
  text-align: center;
      }

}



@media (min-width:451px) and (max-width:991px){
.birinchi{margin-left: 0px !important;}
  .image{height:450px}
  .brand_text p{width:100px !important; display: none;}
  .lrt{display: inline-block !important; margin-top:-22px}

  .navT{top:20px}
  .rahbar h2{font-size: 20px; margin-top:20px}
  .fio{font-size: 18px; font-weight: bold;}
  .qabul{font-size: 15px;}
  .ahref{margin-left: -20px !important;}
  .colimg{transform:scale(1.3, 1.3); left:-13px; padding:0px;}
  .colimg img{transform:scale(1.6, 1.6);}
  .stas{display: flex; align-items: center; flex-wrap: wrap; justify-content: center;}
  .stas_item{flex:50% !important; margin-top: 20px;}
.gtr{padding-top: 40px;}
.elem{height: 340px;}
.htr{margin-top: 20px;}
.hov{opacity: 1;}
.hov a{margin-top: 35px; margin-left:35px !important;}
.tel{bottom:40px}
.jtr{margin-top:40px}


}

@media (max-width:450px){
  /* body{width:100%; overflow-x: hidden;} */
.birinchi{margin-left: 0px !important;}
.brand_text{width:60%;}
.text{top:120px;}

.brand_text p{font-size:13px}
  .image{height:300px !important}
  .text h1{font-size: 22px;}
  .navT{top:20px}
  .navG img{margin-top:10px}
  .navG .brand_text p{width:100px !important; display: none;}
  .brand_text p{width:100px !important; display: none;}
  .lrt{display: inline-block !important;}
  .rahbar div{padding:20px !important;}
  .rahbar h2{font-size: 15px; margin-top:-20px; text-align: center; width:100%; margin-left: 0px;}
}
@media (max-width:370px) {
  #mediaa12{
      display: none;
  }
  #mediaa11{
      display: none;
  }

  .brand_img img{
    width: 60px;
    height: 60px;
    padding: 1px;
  }
  .NavbarMenu{
    padding: 0;
    margin:0;
  }
 
}
