* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carusel1 {
  background-image: url("../img/yangilik2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.carusel2 {
  background-image: url("../img/school3.jpg");
  background-size: cover;
}
.carusel3 {
  background-image: url("../img/school4.jpg");
  background-size: cover;
}
.carusel4 {
  background-image: url("../img/school4.jpg");
  background-size: cover;
}
.head {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url(../img/dxorazm0.jpg);
  padding-top: 73vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .headerImage {
  width: 100%;
  height: 650px;
  position: relative;
  object-fit: cover;
  background-position: center center;
  background-image: url(../img/dxorazm16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5 !important;} */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
.sliderIMG img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.sliderHeader {
  width: 100%;
}
.head {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url(../img/dxorazm19.jpg);
  padding-top: 60vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.head_text {
  background-color: rgba(0, 0, 0, 0.611);
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 20px 60px;
}
.headerSliderText {
  position: absolute;
  top: 70% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10 !important;
}
.headerSliderText h3 {
  font-size: 70px;
  color: white;
  text-align: center;
}

/* ==============Section============== */
.yangi h1 {
  text-align: center;
  font-family: "Lobster";
  font-size: 60px;
  font-weight: 500;
  margin: 5% 5% 10px 5% !important;
}
.line {
  width: 30%;
  border-bottom: #1105e6 solid 4px;
  margin: auto;
  margin-bottom: 5%;
}
.news {
  width: 100%;
  height: auto;
  padding: 4%;
  /* padding-top: 0; */
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 5%;
  /* box-shadow: rgba(17, 5, 230, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* box-shadow: rgba(17, 5, 230, 0.4) 0px 0px 0px 2px,
    rgba(17, 5, 230, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
 
}
.news img {
  width: 80%;
  height: 400px;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: rgba(4, 3, 32, 0.35) 0px 5px 15px;
}
.news h3 {
  font-family: "Font";
  font-size: 30px;
  font-weight: 700;
  color: #0a1025;text-align: center;
  margin: 4% 0 2% 0;
}
.news .date {
  font-size: 18px;
  word-spacing: 10px;
  margin: 2% 0 4% 0;text-align:right;
  color: gray !important;
}

.news p {
  font-size: 20px;
  text-align: justify;
  color: #000;
  margin-bottom: 0;
}

.recent_news {
  width: 93%;
  height: auto;
  padding: 6%;
  position: relative;
  background-color: #0f2a8dcb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 15px;
  margin-bottom: 5%;
  /* box-shadow: rgba(17, 5, 230, 0.16) 0px 1px 4px,
    rgb(17, 5, 230) 0px 0px 0px 3px; */
}
.title {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: white solid 1px;
  text-align: center;
}
.title h3 {
  font-size: 32px;
  color: white;
  font-family: "Lobster";
}

.body_card {
  cursor: pointer;
  padding: 10px;
}


.tadbir1 {
  margin-bottom: 10%;
  max-width: 120px;
  height: 130px;
  background-image: url("../img/tadbir1.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  cursor: pointer;
}
.tadbir1:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tadbir2 {
  margin-bottom: 10%;
  max-width: 120px;
  height: 130px;
  background-image: url("../img/tadbir2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  cursor: pointer;
}
.tadbir2:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.tadbir3 {
  margin-bottom: 10%;
  max-width: 120px;
  height: 130px;
  background-image: url("../img/tadbir3.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  cursor: pointer;
}
.tadbir3:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.tadbir4 {
  margin-bottom: 10%;
  max-width: 120px;
  height: 130px;
  background-image: url("../img/tadbir4.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  cursor: pointer;
}
.tadbir4:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.tadbir5 {
  margin-bottom: 10%;
  max-width: 120px;
  height: 130px;
  background-image: url(../img/tadbir5.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  cursor: pointer;
}
.tadbir5:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.tadbir6 {
  max-width: 120px;
  height: 130px;
  background-image: url(../img/tadbir6.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  cursor: pointer;
}
.tadbir6:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* @media============== */

@media (min-width: 0px) and (max-width: 566px) {
  .head {
    padding-top: 105%;
    background-size: 100% 70%;
    background-position-y: 33%;
  }
  .head_text {
    font-size: 18px;
    padding: 20px;
  }
  .sliderContainer {
    height: 400px !important;
  }
  .headerSliderText {
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10 !important;
  }
  .sliderIMG {
    height: 400px !important;
  }
  .sliderIMG img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  .headerImage {
    height: 400px !important;
  }
  .news img {
    height: 300px;
  }
  .recent_news {
    margin: auto;
  }
  .recent_news img {
    width: 355px;
    height: 250px !important;
  }
  .headerSliderText h3 {
    font-size: 25px !important;
  }
  .yangi h1 {
    font-size: 35px !important;
  }
}

@media (min-width: 567px) and (max-width: 767px) {
  .head {
    padding-top: 395px;
    height: 475px;
  }
  .head_text {
    font-size: 23px;
    padding: 20px 40px;
  }
  .sliderContainer {
    height: 400px !important;
  }
  .headerSliderText {
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10 !important;
  }
  .sliderIMG {
    height: 400px !important;
  }
  .sliderIMG img {
    width: 100% !important;
    height: 400px !important;
  }
  .headerImage {
    height: 600px !important;
  }
  .headerSliderText h3 {
    font-size: 35px !important;
  }
  .yangi h1 {
    font-size: 40px !important;
  }
  .news img {
    height: 350px;
  }
  .recent_news {
    margin: auto;
  }
  .recent_news img {
    width: 410px;
    height: 280px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .head {
    background-position-y: 5%;
    padding-top: 100%;background-size: 100% 80%;
  }
  .head_text {
    font-size: 28px;
  }
  .sliderContainer {
    height: 97vh !important;
  }
  .headerSliderText h3 {
    font-size: 50px !important;
  }
  .yangi h1 {
    font-size: 40px !important;
  }
  .body_card:hover {
    box-shadow: none;
  }
  .recent_news {
    margin: auto;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .head {
    padding-top: 385px;
    height: 550px;background-size: 100% 80%;
    margin-top: 80px;
  }
  .head_text {
    padding: 20px 120px;
  }
  .sliderContainer {
    height: 97vh !important;
  }
  .headerSliderText h3 {
    font-size: 60px !important;
  }
  .yangi h1 {
    font-size: 40px !important;
  }
  .news img {
    height: 350px;
  }
  .body_card h5 {
    font-size: 15px;
  }
  .body_card p {
    font-size: 15px;
  }
  .body_card img {
    height: 75px !important;
  }
}
@media screen and (min-width: 1200px) {
  .head_text {
    padding: 20px 150px;
  }
  .sliderContainer {
    height: 97vh !important;
  }
  .headerSliderText h3 {
    font-size: 60px !important;
  }
  .yangi h1 {
    font-size: 40px !important;
  }
  .body_card h5 {
    font-size: 18px;
  }
  .body_card p {
    font-size: 18px;
  }
  .body_card img {
    height: 110px !important;
  }
}
@media screen and (min-width: 1500px) {
  .head {
    padding-top: 70vh;
   
  }
  .head_text {
    font-size: 40px;
    padding: 20px 230px;
  }
}
@media screen and (min-width: 1920px) {
  .head {
    padding-top: 75vh;
  }
  .head_text {
    font-size: 50px;
    padding: 20px 230px;
  }
}
.imag{width:80%; margin: auto;}

.newsY img{width:100%;}
.newsY{padding:50px 10%; margin-top:50px; background-color:white;}

.newsY h1{font-size: 27px; width:90%; margin: auto; text-align: center; margin-top: 40px;}
.yozuv p:nth-child(even){ font-size:18px; margin-top:20px; text-align:center;}
.yozuv p:nth-child(odd){ font-size:16px; margin-top:20px;}
.yozuv p i{margin-right: 10px;}
@media (max-width:700px){
    .newsY{margin-top: 0px;}  
    .newsY h1{font-size: 25px;}    
   
 
   }
 @media (min-width:1650px){
    .newsY h1{font-size: 33px;}  
    .yozuv p:nth-child(even){ font-size:23px; margin-top:20px; text-align:center;}
    .yozuv p:nth-child(odd){ font-size:21px; margin-top:20px;}
   }
   @media  (min-width:701px) and (max-width:900px){
    .newsY{margin-top: 0px;} 
    .newsY h1{font-size: 25px;}    
   }