@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}
a {
  text-decoration: none;
}
.chiziq {
  width: 200px;
  height: 6px;
  background-color: blue;
  margin: auto;
}
.bar {
  color: rgb(0, 8, 255);
  margin-top: 50px;
  font-size: 23px;
}
.bar:hover {
  color: red;
}
.blue {
  width: 100%;
  height: 2px;
  background-color: blue;
  margin: 40px 0px 0px;
}
.title {
  text-align: center;
  font-size: 37px;
  color: rgb(41, 41, 41);
}
.chiziq1 {
  width: 150px;
  margin: auto;
  height: 6px;
  background-color: blue;
}

@media (min-width: 991px) and (max-width: 1920px) {
  .me-auto {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: auto;
    margin-right: 24px;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .me-auto {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .chiziq {
    display: flex;
    align-items: center !important;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .me-auto {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
